<DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Publisher</title>
	
	
</head>
<body style="background-color: #A13D63" onload="username()">
<link rel="stylesheet" type="text/css" href="publisher-feed.css"/>


<div id="userSymbol" style="float:right;border-radius: 64px;background-color: black;border: 3px solid red;"></div>




<h1 style="margin-left: 400px;color:#FFDC00;font-size:50px">AdSense</h1>
 


 
<a style="float: left;cursor:pointer;font-size: 15px;margin-right: 20px" onclick="logout();">logout</a>



<script type="text/javascript">
function username(){
	alert("hello")
    
	user=localStorage.getItem("username")
	document.getElementById('usname').innerHTML="nikhil"
	alert(user)
}

function logout(){
	localStorage.removeItem('username');
	window.location="http://localhost:5000/"
}
</script>






<div id="Inbox" style="height: 500px;width:400px;background-color: #3D9970;float: left;margin-top: 75px">


   <h2 style="padding-left: 120px">Messages</h2>
</div>
  




 <form action = "http://localhost:5000/uploadimage" method = "POST" 
         enctype = "multipart/form-data">
  <input type="file" name="file" accept="image/*">
   <input type="text" style="width:250px;height: 60px" name="settag">
   <input id="usname" type="text" name="uname" style="display: none">
  <input type="submit" >
 
</form>

 



<input id="box1" type="submit" name="submit" style="display: none"> 



<div id="buttons" style="margin-top: 200px;margin-left: 600px">



<button id='1' style="height: 100px;width:300px;background-color: #001f3f;color: white;font-size: 20px;cursor: pointer;" onclick="location.href='http://localhost:5000/setprice'">Set price</button>
<br>
<br>


<button style="height: 100px;width:300px;background-color: #FF851B;color: white;font-size: 20px;cursor: pointer;">Monitor Ad Fraud</button>

<br>
<br>

<button style="height: 100px;width:300px;background-color:#39CCCC;color: white;font-size: 20px;cursor: pointer;">Analytics</button>


</div>




</body>
</html>