<DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Price</title>
</head>
<body style="background-color: #85144b">


<div id="ListofchannelsAvailable" style="height: 500px;width:400px;background-color: #3D9970;float: left;margin-top: 50px">


   <h2 style="padding-left: 120px">Messages</h2>
</div>


 




 <div class="solid" style="margin-left: 500px;margin-top: 150px;background-color: #AAAAAA;border: solid;width: 400px">
  

<form >
 <div style="padding: 30px" >
         <h4>Enter Category type</h4>
         <input type = "text" name = "Category type" autocomplete="off" />
          <br><br>
          <h4>Enter price</h4>
         <input type="text" name="price" autocomplete="off">
         <br><br>

         <p><input type = "submit" value = "submit" style="background-color:#2ECC40;height:30px;width: 200px;font-size: 20px;" /></p>
         </div>
	


</form>
	

</div>




</body>
</html>